{# @params =
## formAction = @string,
## resetScript = @string js-function
## collapsed => @bool
#}

{# @blocks =
## filterFields
#}

{% if collapse is empty %}
    {% set show, collapsed, ariaExpanded = ' show', '', 'true' %}
{% else %}
    {% set show, collapsed, ariaExpanded = '', 'collapsed', 'false' %}
{% endif %}

<div class="row item-margin-bottom">
    <form method="GET" action="{{formAction}}" class="col-12">
        <div class="row">
            <h5 class="col-12">
                <a data-toggle="collapse" href="#filterDefs" role="button" aria-expanded="{{ariaExpanded}}" aria-controls="filterDefs" class="{{collapsed}}">
                    Filter deficiencies
                    <i class="typcn typcn-arrow-sorted-down"></i>
                </a>
            </h5>
        </div>
        <div id="filterDefs" class="collapse{{show}}">
            {% block filterFields %}
                <div id="container_buttons_submit-reset" class="col-12 col-sm-2 flex-row justify-center align-end pl-1 pr-1">
                    <button name="search" value="search" type="submit" class="btn btn-primary item-margin-right">Search</button>
                    <button type="button" class="btn btn-primary item-margin-right" onclick="return {{resetScript|default('resetSearch')}}(event)">Reset</button>
                </div>
            {% endblock %}
        </div>
    </form>
</div>